.jumbotron {
    background-image: url(image/img1.png);
    background-size: cover;
    height: 750px;
    text-align: center;
    margin-top: -120px;
}

.jumbotron .display-4 {
    color: white;
    margin-top: 200px;
}

.jumbotron p {
    color: white;
    font-size: 25px;
}

.jumbotron hr {
    border-color: #F05F40;
    width: 70PX;
    border-width: 3px;
}

.jumbotron .btn {
    background-color: #F05F40;
    border: none;
    border-radius: 25px;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 40PX;
}

.footer {
    margin-top: center;
}

.menuimg {
    height: 70vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}